body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.604);
    color: rgb(0, 0, 0);
}

#main {
    position: absolute;
    height: 82%;
    width: 100%;
    background-color: rgba(2, 92, 118, 0.599);
    margin: 0;
    text-align: center;
}

/* Style the footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.604);
}

button.start-button {
    color: rgb(255, 255, 255);
    background-color: rgb(12, 94, 18);
    font-family: Arial, sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.start-button:hover {
    background-color: darkblue;
}

button.start-button:active {
    background-color: lightblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Das Fenster nach Betätigung des Startbuttons für den StartInitator/Timer für Abbruch */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#startScreen,
#gameScreen {
    margin: 0;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    height: 50%;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.grid-item:disabled {
    cursor: not-allowed;
}

.grid-container:disabled {
    cursor: not-allowed;
}

.grid-item:hover {
    background-color: lightblue;
    color: black;
}

.grid-item:active {
    background-color: darkblue;
    color: white;
}

.grid-item.correct {
    background-color: green;
}

.grid-item.wrong {
    background-color: red;
}

.green-flash {
    background-color: green !important;
    transition: background-color 1s;
}

.red-flash {
    background-color: red !important;
    transition: background-color 1s;
}

.hidden {
    display: none;
}

.disable {
    background-color: red;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s step-start infinite;
    -webkit-animation: blink 1s step-start infinite;
    color: red;
    background-color: black;
}

.green {
    background-color: green;
}